{% extends "base.html" %}

{% block title %}
AutoHunter Zoeken
{% endblock %}


{% block content %}

<div class="layout">



<div class="sidebar">


<h2>Filters</h2>


<form method="get">


<label>Zoeken</label>

<input type="text"
       name="search"
       value="{{filters.get('search','')}}">



<label>Max prijs</label>

<input type="number"
       name="price"
       value="{{filters.get('price','')}}">



<label>Min bouwjaar</label>

<input type="number"
       name="year"
       value="{{filters.get('year','')}}">



<label>Max kilometers</label>

<input type="number"
       name="km"
       value="{{filters.get('km','')}}">



<label>Min score</label>

<input type="number"
       name="score"
       value="{{filters.get('score','')}}">





<h3>Kleur</h3>

<div class="color-list base-color-list">

{% set selected_colors = filters.getlist('color') %}
{% set base_colors = [
    ("blauw", "Blauw"),
    ("bruin", "Bruin"),
    ("grijs", "Grijs"),
    ("groen", "Groen"),
    ("rood", "Rood"),
    ("wit", "Wit"),
    ("zilver", "Zilver"),
    ("zwart", "Zwart")
] %}

{% for color_value, color_label in base_colors %}

<label class="filter-checkbox">
<input type="checkbox"
       name="color"
       value="{{ color_value }}"
       {% if color_value in selected_colors %}checked{% endif %}>
<span>{{ color_label }}</span>
</label>

{% endfor %}

</div>

<h3>Specifieke kleur</h3>

<div class="color-list scroll-list color-detail-scroll specific-color-list">

{% for color,count in color_details|sort %}

<label class="filter-checkbox">

<input
type="checkbox"
name="color_detail"
value="{{color}}"
{% if color in filters.getlist('color_detail') %}checked{% endif %}
>

<span>{{color}} <span class="filter-count">({{count}})</span></span>

</label>

{% endfor %}

</div>


<h3>Populaire opties</h3>

<div class="option-list scroll-list option-scroll">

{% for option,count in options|sort %}

<label class="filter-checkbox">
<input
type="checkbox"
name="option"
value="{{option}}"
{% if option in filters.getlist('option') %}
checked
{% endif %}
>

<span>{{option}} <span class="filter-count">({{count}})</span></span>
</label>


{% endfor %}

</div>




<br>


<button type="submit">
Zoeken
</button>



<a href="/" class="reset">
Reset filters
</a>



</form>


</div>





<div class="content">



{% if active_filters %}


<div class="active">


<b>Actieve filters:</b>


{% for key,value in active_filters.items() %}


<span class="tag">

{{key}}: {{value}}

</span>


{% endfor %}



<a href="/" class="reset">

Alles wissen

</a>



</div>


{% endif %}





<h2>

{{cars|length}} auto's gevonden

</h2>




{% for car in cars %}



<div class="car">


<h2>
{{car.title}}
</h2>



<div class="score">

Score:
{{car.final_score}}

</div>




<p>
💶 {{ format_currency(car.price) }}
</p>



<p>
🚗 {{car.km}} km
</p>



<p>
📅 {{car.year}}
</p>



<p>
🎨 {{car.color}}
</p>



<p>
⭐ Optiescore:
{{car.options_score}}
</p>

<p>

{% if car.hp %}
<br>
💪 {{car.hp}} pk
{% endif %}

{% if car.gearbox %}
<br>
⚙️ {{car.gearbox}}
{% endif %}

{% if car.body_type %}
<br>
🚗 {{car.body_type}}
{% endif %}

{% if car.drive %}
<br>
🔩 {{car.drive}}
{% endif %}

</p>

{% if car.options_found %}

<p>
🔧 {{ car.options_found.split(",")|sort | join(", ") }}
{% if car.options_found.split(",")|sort|length > 5 %}
...
{% endif %}
</p>

{% endif %}



<a href="/car/{{car.id}}">

Bekijk details

</a>

<br><br>

<a href="{{car.url}}" target="_blank">

Open AutoScout24

</a>


</div>



{% endfor %}




</div>



</div>


</body>

</html>


{% endblock %}
